.section-with-content {
  opacity: 0;
  transition: opacity 0.2s ease, transform 0.2s ease;
  -webkit-transition: opacity 0.2s ease, transform 0.2s ease;
  -moz-transition: opacity 0.2s ease, transform 0.2s ease;
  -ms-transition: opacity 0.2s ease, transform 0.2s ease;
  -o-transition: opacity 0.2s ease, transform 0.2s ease;
  transform: translateY(50%);
  -webkit-transform: translateY(50%);
  -moz-transform: translateY(50%);
  -ms-transform: translateY(50%);
  -o-transform: translateY(50%);
}

.section-with-content.show {
  opacity: 1;
  transform: translateY(0%);
}